# تبعيات وحدات العقد
node_modules/

# متغيرات البيئة والأسرار
.env
.env.local
.env.production

# ملفات السجلات (Logs)
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ملفات بناء المشروع أو التخزين المؤقت
dist/
build/
.DS_Store
Thumbs.db